.post
  .charity-name= post.charity&.name
  .attachments
  .photo= cl_image_tag post.photo, height: 300, width: 400, crop: :fill
  .caption= post.caption
  .donations-count= post.donations.count
  .comments
    - post.comments.each do |comment|
      .comment-text= comment.text
      .comment-username= comment.user.username
